<!-- ERROR PAGE -->
<% layout('layout/boilerplate.ejs') -%>

<style>
    .sec {
        background: url('/images/error.png') center no-repeat;
        background-size: cover;
       
    }
</style>

<section class="bg-dark-subtle sec position-relative min-vh-80 d-grid " style="place-items: center">
   
</section>
